    ol, ul{
        list-style: none;
    }   

    #menu{
        margin:auto;
        width: 900px;
        font-family: sans-serif;
        width = 50%;
    }

    #menu li{
        display: block;
        width: 120px;
        float: center;
        margin-left: 2px;
        border: 1px solid #000;
    }

    #menu a{
       display: block;
        padding: 2px;
        text-decoration: none;
        background-color: #fff;
        color: #009;
    }
    
    #menu a:hover{
    background-color: #009;
    color: #fff;
    }
