h1{
   text-align: center;
}


#header ol, ul{

        list-style: none;

    }   

#header{
height: 200px;
   background: white;
   
      width: 75%;
   margin: 0px auto;
}

#main{
 background: white;
   
   width: 860px;
   height: auto;
   margin: 0px auto;
   
}

#left{
   float: left;
width: 70%;  
height: 860px;;
}

#right{
   float: right;
   width: 30%;
   text-align: center;
   height: 860 px;
   
}


    #menu{

    background-color: white;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    
    }



    #menu li{
    display: block;
    width: 25%;
    height: 25px;
    float: left;
    margin: 0;
    padding: 0;
    }
   
    #right li{
       float: left;
    }

 a{

       display: block;

        padding: 2px;

        text-decoration: none;

        background-color: #fff;

        color: #009;

    }


 #menu a:link{

  text-decoration: none;

  color: black;

  text-align: center;

  text-decoration: "Times New Roman", Times, serif;

}

#menu a:visited{

  text-decoration: underline;

  color: Navy;

  text-align: center;

  text-decoration: "Times New Roman", Times, serif;

}



#menu a:hover{

  text-decoration: underline;

  color: DodgerBlue;

  text-align: center;

  text-decoration: "Times New Roman", Times, serif;

}

#menu a:active{
   text-decoration: underline;
   color: white;
   background-color: DodgerBlue;
   text-decoration: "Times New Roman", Times, serif;
   
   
}

table, th, tr, td{
   border: 2px solid black;
}

