a:link{
  text-decoration: none;
  color: black;
  text-align: center;
  text-decoration: "Times New Roman", Times, serif;
}

a:visited{
  text-decoration: underline;
  color: blue;
  text-align: center;
  text-decoration: "Times New Roman", Times, serif;
}

a:hover, a:active{
  text-decoration: underline;
  color: DodgerBlue;
  text-align: center;
  text-decoration: "Times New Roman", Times, serif;
}

h1{
  text-align: center;
  background-color: green;
  text-decoration: "Times New Roman", Times, serif;
}

p{
  text-decoration: "Times New Roman", Times, serif;
  color: black;
}

h2{
  text-decoration: "Times New Roman", Times, serif;
}
div[class=graph]{
  text-align: center;
}
div[class=map]{
  text-align: center;
}
div[class=endnotes]{
  text-align: left;
}
