a:link{
  text-decoration: none;
  color: black;
  text-align: center;
  text-decoration: "Times New Roman", Times, serif;
}

a:visited{
  text-decoration: underline;
  color: blue;
  text-align: center;
  text-decoration: "Times New Roman", Times, serif;
}

a:hover, a:active{
  text-decoration: underline;
  color: DodgerBlue;
  text-align: center;
  text-decoration: "Times New Roman", Times, serif;
}

h1{
  text-align: center;
  top-margin: 200px;
  background-color: green;
}

p{
  text-align: center;
  text-decoration: "Times New Roman", Times, serif;
  color: black;
  background-color:light
}


