a:link{
  text-decoration: none;
  color: black;
  text-align: center;
}

a:visited{
  text-decoration: underline;
  color: blue;
  text-align: center;
}

a:hover, a:active{
  text-decoration: underline;
  color: DodgerBlue;
  text-align: center;
}

p{
  text-align: red;
  text-decoration: "Times New Roman", Times, serif;
  color: black;
}
  

