hr{
 margin-top: 25 px;
 margin-bottom: 35 px;
}

li{
  color: blue;
}

code{
  font-family: "Helvetica", Arial, sans-serif;
 text-decoration: underline;
}

div[class=caption]{
 width: 50%;
 font-style: italic;
}
div[class=most_important]{
 background-color: lightgrey;
 width: 200 px;
 height: 100 px;
}
